/* Contenedor principal de las compras */
h1 {
    text-align: center;
    color: #0077cc;; /* Azul oscuro para el título */
}

/* Estilos de los bloques de venta */
.venta-container {
    background-color: #ffffff;
    border: 2px solid #0077cc;; /* Borde azul */
    margin: 20px auto; /* Separación entre bloques y del borde de la página */
    padding: 20px;
    max-width: 800px; /* Ancho más pequeño para los bloques */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover para que los bloques se levanten un poco */
.venta-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Encabezado de la venta */
.venta-header {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #0077cc;; /* Azul oscuro */
}

.venta-header li {
    margin-bottom: 10px;
}

/* Estilos de los items dentro de la venta */
.items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #333; /* Color de texto más neutro */
}

.items li {
    margin: 10px 0;
    font-size: 1em;
}

a.btn-primary {
    display: block;
    width: 150px;  /* Ancho específico para el botón */
    margin: 30px auto;  /* Centrado en la página */
    padding: 10px;
    background-color: #0077cc;  /* Color de fondo azul */
    color: white;  /* Color de texto blanco */
    text-align: center;
    border-radius: 5px;  /* Bordes redondeados */
    text-decoration: none;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0071c5; /* Color azul más claro al pasar el mouse */
}

/* Ajustes para los elementos del contenedor */
a {
    text-decoration: none;
    color: inherit;
}

a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}
